
<div class="row">
  <div class="col-xs-12">
    
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <label for="banner">Let's Get You Started</label>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input
              type="text"
              size="15"
              id="lastName"
              formControlName="lastName"
              class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="phone">Phone</label>
            <input
              type="text"
              id="phone"
              size="10"
              formControlName="phone"
              class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="email">email</label>
            <input
              type="email"
              id="email"
              size="20"
              formControlName="email"
              class="form-control">
          </div>
        </div>
      </div>
    
      <div class="row">
        <div class="col-xs-12">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!loginForm.valid">Let Me In</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
   
    
    </form>
  
  </div>
</div>
 

